* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica";
    position: relative;
    background-color: #d5fcfc;
  }
  /* Headlines and Logos */
  
  h1,
  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 350;
  
    letter-spacing: 4px;
  }
  
  #logo {
    float: left;
    font-size: 140%;
    margin-left: 20px;
    padding-top: 20px;
    color: #fafafa;
  }
  
  .whac {
    float: left;
    margin-top: 10px;
  }
  
